@media (max-width: 768px) {
  .main-container img {
    height: 400px;
  }
  .main-container-home img {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .main-container img {
    height: 250px;
  }
  .main-container-home img {
    height: 250px;
  }
}

@media (max-width: 998px) {
  .about-section {
    flex-direction: column;
  }

  .about-left,
  .about-images {
    width: 100%;
  }

  .about-images img {
    height: 180px;
  }
}

#menu {
  
  margin: 0;
  /* background: #e8c4c6; */
  background: #f2dfcf;
  color: #333;
  

}


.menu-box {
  text-align: center;
  padding: 64px 16px; 
  background: #f2dfcf;
  color: #885d4e;
  font-family:"Outfit";
}

.menu-box h1 {
  font-size: 3em;
  margin-bottom: 8px;
  font-family:"Outfit";
}

.menu-box p {
  font-size: 19px; 
  
}


.info-boxes {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 32px auto; 
  margin-top:0px;
  flex-wrap: wrap;
  color: #885d4e;
  font-family:"Outfit";
  background: #e8c4c6;
  padding: 40px;
}

.info-card {
  background: #f2dfcf;
  padding: 24px 32px; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
  width: 250px;
}

.info-card h3 {
  margin-top: 0;
  font-family:"Outfit";
}


.foodhead {
  display: flex;
  justify-content: center;
  color: #885d4e;
  font-family:"Outfit";
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px; 
  padding: 32px; 
  width: 90%;
  margin: auto;
}
.cart-grid {
  font-family:"Outfit";
  display: grid;
  grid-template-columns: auto;
  gap: 32px; 
  padding: 32px; 
  width: 90%;
  margin: auto;
}

 
.item {
  /* background: #f2dfcf; */
  background: #fdfdfd;
  border-radius: 10px;
  padding-bottom: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
  color: #885d4e;
  position: relative;
  overflow: hidden;
}

.item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.itemcart {
  /* background: #f2dfcf; */
  background: #fdfdfd;
  border-radius: 10px;
  padding-bottom: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
  color: #885d4e;
  position: relative;
  overflow: hidden;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.itemcart img {
  padding-top: 10px;
  width: 50%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.item h4 {
  margin: 8px 0; 
  font-family:"Outfit";
}

.price {
  color: #b5835a;
  font-weight: bold;
  font-family:"Outfit";
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}

.item:hover .overlay {
  opacity: 1;
}


.add-to-cart {
  padding: 10px 15px;
  background-color: white;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.2s;
}

.add-to-cart:hover {
  background-color: #f1e8da;
}


.cart-button {
  text-align: center;
  margin: 48px 0; 
  position: fixed;
  z-index: 999;
  justify-content: center;
  bottom: 20px; 
  left: 0;
  right: 0;
  display: flex; 
}

.cart-button button {
  padding: 16px 32px; 
  border: none;
  font-family:"Outfit";
  background: #b5835a;
  color: white;
  font-size: 18px; 
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-button button:hover {
  background: pink;
}
.pay-button button:hover {
  background: pink;
}
.pay-button button {
  padding: 16px 32px; 
  border: none;
  font-family:"Outfit";
  background: #b5835a;
  color: white;
  font-size: 18px; 
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 300px;
  margin: 0 auto;
}

.pay-button {
  text-align: center;
  margin: 48px 0; 
  z-index: 999;
  justify-content: center;
  bottom: 20px; 
  left: 0;
  right: 0;
  display: flex; 
}
.footer {
  font-family:"Outfit";
  background-color: #E8C4C6;
  color:#806B63;
  text-align: center;
  padding: 20px;
}
/* Ghadeer and ghalya's CSS */

.homepage {
  margin: 0;
 
}


.navbar {
  width: 100%;
  background: #e8c4c6;
  display: flex;
  align-items: center;
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: bold; 
  font-style: normal;
}

.navbar ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar ul a {
  color: #fff;
  text-decoration: none;
  font-family: "Outfit";
  font-size:1.5em;
}
.navbar ul a:hover {
  color: brown;
  text-decoration: underline;
  transition: 0.3s
}

.navbar img {
  flex: 1;
  height: 150px;
  width: 650px;
  object-fit: cover;
}


.main-container {
  position: relative;
  font-family:"Outfit";
  font-size:2em;
  border:solid blue 0px;
}

.main-container img {
  margin-bottom:-10px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.main-container-home img {
  margin-bottom:-10px;
  height: 85vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.button-menu {
  position: absolute;
  top: 50%;
  margin-top: 125px;
  left: 50%;
  transform: translate(-55%, -55%);
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 0px 20px 10px 20px;
}

.button-menu a {
  color: #fff;
  text-decoration: none;
  font-family:"Outfit";
  font-size: 0.7em;
}

.button-menu:hover {
  background: #e8c4c6;
  border: 2px solid #e8c4c6;
  transform: scale(1.1) translate(-50%, -50%);
  transition:0.3s;
}

.main-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #fff;
  text-align: center;
  font-size: 66px;
}
.main-menu-tag {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #fff;
  text-align: center;
  font-size: 1em;
}
.backgroond{
  background-image:url("bg_center_home.png");
  background-size: cover;       
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
}
.customerreviews {
  font-family:"Outfit";
  background: #fff;
  padding:40px;
  margin: 0px auto;
  max-width:900px;
  border-radius:10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  text-align:center;
}

.customerreviews h2 {
  margin-bottom: 20px;
  color: #7a5c50;
  
}

.customerreviews p {
  font-size: 1em;
  color: #885d4e;
  margin-bottom: 16px;
}



.introduction {
  font-family:"Outfit";
  background-color: #e8c4c6;
  padding: 40px;
  margin: 0px auto;
  max-width: 900px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  text-align: center;
}

.introduction h2 {
  margin-bottom: 20px;
  color: #7a5c50;
  font-family:"Outfit";
}

.introduction p {
  color: #885d4e;
  margin-bottom: 16px;
}
/* mohd's CSS */
:root {
  --pink: #e8c4c6;
  --brown: #806b63;
  --beige: #e2d0bc;
  --cream: #efebe0;
}

.aboutus {
  font-family:"Outfit";
  background: #f2dfcf;
  color: var(--brown);
  margin: 0px;
  padding: 0px;
}

.about-section {
  max-width: 1300px;
  margin: auto;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.about-left {
  width: 55%;
}

.about-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--brown);
}

.about-text {
  font-size: 18px;
  line-height: 1.6;
  background: var(--pink);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 50px;
  color: var(--brown);
}

.features {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}

.feature h2 {
  font-size: 40px;
  margin: 0;
  color: var(--brown);
  font-weight: 700;
  font-family:"Outfit";
}

.feature h3 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
  font-family:"Outfit";
}

.feature p {
  font-size: 16px;
  line-height: 1.5;
}

.about-images {
  margin-top: 20px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
  border: 4px solid var(--pink);
  background: var(--beige);
}


/* maryam's CSS */
.contact-page{
  font-family:"Outfit";
  padding:0px;
  background: #f2dfcf;
  margin:0px;
}

p{
  color: #806b63;
  font-size: 18px;
}

h1{
  color: #885d4e;
  text-align: center;
  margin-bottom: 30px;
  font-size: 3em;
}

h2{
  color: #806b63;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5em;
}

.contactform{
  background-color: #efebe0;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px #e8c4c699;
  border: 3px solid #806b63;
}

label{
  display:block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #806b63;
  font-size: 16px;
}

input, textarea{
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #806b63;
  border-radius: 20px;
  font-size: 16px;
}

input:focus, textarea:focus{
  border-color: #e8c4c6;
  outline: none;
  box-shadow: 0 0 5px #e8c4c699;
}

button{
  background-color: #806b63;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
  font-family:"Outfit";
  width: 100%;
}

button:hover{
  background-color: #e8c4c6;
  transition:0.3s;
}

.LocTime{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.locationbox, .hoursbox, .linksbox{
  background-color: #efebe0;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 50px #e8c4c699;
  text-align: center;
  min-width: 600px;
  border: 3px solid #806b63;
}

.locationlink{
  color: #806b63;
  text-decoration: underline;
  font-size: 18px;
}

.locationlink:hover{
  font-size: larger;
  color: brown;
  transition:0.3s;
}

.numberlink{
  color: #806b63;
  text-decoration: underline;
  font-size: 18px;
}

.numberlink:hover{
  font-size: larger;
  transition:0.3s ease;
  color:brown;
}

.cow{
  color: #806b63;
  font-weight: bold;
  font-size: 18px;
}

.linksbox{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.linksbox a{
  margin: 0 10px;
}

.linksbox img{
  width: 75px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s;
}

.linksbox:hover{
  transform: scale(1.1);
  transition:0.3s;
}
