#menu {
  font-family: "Tahoma", sans-serif;
  margin: 0;
  background: #e8c4c6;
  color: #333;
}


.menu-box {
  text-align: center;
  padding: 64px 16px; 
  background: #f2dfcf;
  color: #885d4e;
}

.menu-box h1 {
  font-size: 48px;
  margin-bottom: 8px;
}

.menu-box p {
  font-size: 19px; 
  opacity: 0.7;
}


.add-to-cart {
  background: #ff8a00;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}


.info-boxes {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 32px auto; 
  flex-wrap: wrap;
  color: #885d4e;
}

.info-card {
  background: #f2dfcf;
  padding: 24px 32px; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
  width: 250px;
}

.info-card h3 {
  margin-top: 0;
}


.foodhead {
  display: flex;
  justify-content: center;
  color: #885d4e;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px; 
  padding: 32px; 
  width: 90%;
  margin: auto;
}


.item {
  background: #f2dfcf;
  border-radius: 10px;
  padding-bottom: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
  color: #885d4e;
  position: relative;
  overflow: hidden;
}

.item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.item h4 {
  margin: 8px 0; 
}

.price {
  color: #b5835a;
  font-weight: bold;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}

.item:hover .overlay {
  opacity: 1;
}


.add-to-cart {
  padding: 10px 15px;
  background-color: white;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.2s;
}

.add-to-cart:hover {
  background-color: #f1e8da;
}


.cart-button {
  text-align: center;
  margin: 48px 0; 
  position: fixed;
  z-index: 999;
  justify-content: center;
  bottom: 20px; 
  left: 0;
  right: 0;
  display: flex; 
}

.cart-button button {
  padding: 16px 32px; 
  border: none;
  background: #b5835a;
  color: white;
  font-size: 18px; 
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-button button:hover {
  background: pink;
}

.navbar {
  width: 100%;
  background: #e8c4c6;
  display: flex;
  align-items: center;
  ul {
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: space-around;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  img {
    flex: 1;
    height: 150px;
    width: 650px;
    object-fit: cover;
  }
}
.footer {
  background-color: #E8C4C6;
  color:#806B63;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
}
/* Ghadeer's CSS */

.homepage {
  margin: 0;
  font-family: "Tahoma", sans-serif;
}


.navbar {
  width: 100%;
  background: #e8c4c6;
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar ul a {
  color: #fff;
  text-decoration: none;
}
.navbar ul a:hover {
  color: brown;
  text-decoration: underline;
  transition: 0.3s
}

.navbar img {
  flex: 1;
  height: 150px;
  width: 650px;
  object-fit: cover;
}


.main-container {
  position: relative;
}

.main-container img {
  height: 1000px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.button-menu {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  padding: 10px;
}

.button-menu a {
  color: #fff;
  text-decoration: none;
}

.button-menu:hover {
  background: #e8c4c6;
  border: 2px solid #e8c4c6;
  transform: scale(1.1) translate(-50%, -50%);
  transition:0.3s;
}

.main-menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #fff;
  text-align: center;
  font-size: 45px;
}


@media (max-width: 768px) {
  .main-container img {
    height: 600px;
  }
}

@media (max-width: 480px) {
  .main-container img {
    height: 450px;
  }
}
/* mohd's CSS */
:root {
  --pink: #e8c4c6;
  --brown: #806b63;
  --beige: #e2d0bc;
  --cream: #efebe0;
}

.aboutus {
  font-family: "Inter", sans-serif;
  background: var(--cream);
  color: var(--brown);
  margin: 0p-x;
  padding: 0px;
}

.about-section {
  max-width: 1300px;
  margin: auto;
  padding: 80px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.about-left {
  width: 55%;
}

.about-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--brown);
}

.about-text {
  font-size: 18px;
  line-height: 1.6;
  background: var(--pink);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 50px;
  color: var(--brown);
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}

.feature h2 {
  font-size: 40px;
  margin: 0;
  color: var(--brown);
  font-weight: 700;
}

.feature h3 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.feature p {
  font-size: 16px;
  line-height: 1.5;
}

.about-images {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
  border: 4px solid var(--pink);
  background: var(--beige);
}

@media (max-width: 998px) {
  .about-section {
    flex-direction: column;
  }

  .about-left,
  .about-images {
    width: 100%;
  }

  .about-images img {
    height: 180px;
  }
}
/* maryam's CSS */
p{
  color: #806b63;
  font-size: 18px;
}

h1{
  color: #806b63;
  text-align: center;
  margin-bottom: 30px;
  font-size: 60px;
}

h2{
  color: #806b63;
  text-align: center;
  margin-bottom: 30px;
  font-size: 55px;
}

.contactform{
  background-color: #efebe0;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px #e8c4c699;
  border: 3px solid #806b63;
}

label{
  display:block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #806b63;
  font-size: 16px;
}

input, textarea{
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #806b63;
  border-radius: 20px;
  font-size: 16px;
}

input:focus, textarea:focus{
  border-color: #e8c4c6;
  outline: none;
  box-shadow: 0 0 5px #e8c4c699;
}

button{
  background-color: #806b63;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
  width: 100%;
}

button:hover{
  background-color: #e8c4c6;
}

.LocTime{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.locationbox, .hoursbox, .linksbox{
  background-color: #efebe0;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 50px #e8c4c699;
  text-align: center;
}

.locationlink{
  color: #806b63;
  text-decoration: underline;
  font-size: 18px;
}

.locationlink:hover{
  font-size: larger;
}

.numberlink{
  color: #806b63;
  text-decoration: underline;
  font-size: 18px;
}

.numberlink:hover{
  font-size: larger;
}

.cow{
  color: #806b63;
  font-weight: bold;
  font-size: 18px;
}

.linksbox{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.linksbox a{
  margin: 0 10px;
}

.linksbox img{
  width: 75px;
  height: auto;
  border-radius: 10px;
  transition: transform 0,2s;
}

.linksbox:hover{
  transform: scale(1.1);
}

.footer {
  background-color: #E8C4C6;
  color:#806B63;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  width:1900px;
}
